#dummy {
    height: 400px;
}


a {
    text-decoration: none;
    color: crimson;
   
}

a:link{
    color: aquamarine;
}

a: visited{
    color: antiquewhite;
}

a:hover {
    color: antiquewhite;
}


a:active{
    color: darkorange;
}

a:target {
    background-color: darkgoldenrod;
    color: antiquewhite;
}


#222{
    
}

#description {
    height: 600px
}

#tirp {
    width: 300px;
    opacity: 0.5;
}

#trip: hover {
    opacity: 1;
}